---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: obsidian-sync
  namespace: obsidian-sync
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: obsidian-sync-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        couchdb-user: "{{ .username }}"
        couchdb-password: "{{ .password }}"
  dataFrom:
    - extract:
        key: Obsidian Sync