---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app opencloud
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 15m
  timeout: 20m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            runAsNonRoot: true
        initContainers:
          init-config:
            image:
              repository: docker.io/opencloudeu/opencloud
              tag: 4.0.0
            command:
              - /bin/sh
              - -c
              - test -f /etc/opencloud/opencloud.yaml || opencloud init --insecure=true
            envFrom:
              - secretRef:
                  name: opencloud-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        containers:
          *app :
            image:
              repository: docker.io/opencloudeu/opencloud
              tag: 4.0.0
            command:
              - opencloud
              - server
            envFrom:
              - secretRef:
                  name: ${APP}-secret
            env:
              IDM_CREATE_DEMO_USERS: false
              OC_ENABLE_OCM: false
              OC_INSECURE: false
              OC_LOG_LEVEL: info
              OC_URL: https://${APP}.${ROOT_DOMAIN}
              PROXY_TLS: false
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                cpu: 400m
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        ports:
          http:
            port: &port 9200
    persistence:
      data:
        existingClaim: opencloud
        globalMounts:
          - path: /var/lib/opencloud
            subPath: data
          - path: /etc/opencloud
            subPath: config
      config:
        existingClaim: opencloud-config
        globalMounts:
          - path: /etc/opencloud/proxy.yaml
            subPath: proxy.yaml
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - ${APP}.${ROOT_DOMAIN}
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: app
                port: *port
