---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app opencloud
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/equestria/home/opencloud
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: postgres
      namespace: database
    - name: valkey
      namespace: database
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/tailscale
    - ../../../../components/volsync
    - ../../../../components/postgres
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_ACCESSMODES: ReadWriteOnce
      VOLSYNC_CAPACITY: 40Gi
