---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
configMapGenerator:
  - name: opencloud-config
    files:
      - proxy.yaml=./resources/proxy.yaml
generatorOptions:
  disableNameSuffixHash: true
