---
# Use the shared `app-template` OCIRepository and map Retrom into a controller
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app retrom
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  timeout: 10m
  maxHistory: 3
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        type: deployment
        containers:
          *app :
            image:
              repository: ghcr.io/jmberesford/retrom-server
              tag: 0.14.0
            env:
              - name: PORT
                value: "5101"
            envFrom:
              - secretRef:
                  name: ${APP}-env
            resources:
              requests:
                cpu: 50m
                memory: 100Mi
              limits:
                cpu: 1000m
                memory: 1Gi
            workingDir: /app
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000

    service:
      retrom:
        controller: retrom
        ports:
          server:
            port: 5101
          web:
            port: &port 3000

    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "${APP}.${ROOT_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: *app
                port: *port

    persistence:
      config:
        enabled: true
        existingClaim: ${APP}
        globalMounts:
        - path: /app/config
      truenas-media:
        existingClaim: truenas-media
        globalMounts:
          - path: /media/downloads
            subPath: downloads
          - path: /media/roms
            subPath: roms
