---
# Use the shared `app-template` OCIRepository and map Retrom into a controller
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app retrom
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  timeout: 10m
  maxHistory: 3
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        type: deployment
        containers:
          *app :
            image:
              repository: ghcr.io/jmberesford/retrom-service
              tag: 0.7.51@sha256:5d65bf24e121074a33ed7421ceab815949481e97e671001b1a03ddd6d17af72b
            env:
              - name: PORT
                value: "5101"
            envFrom:
              - secretRef:
                  name: ${APP}-env
            resources:
              requests:
                cpu: 100m
                memory: 100Mi
              limits:
                memory: 1Gi
            workingDir: /app

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      retrom:
        controller: retrom
        ports:
          server:
            port: 5101
          web:
            port: &port 3000

    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "${APP}.${ROOT_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: *app
                port: *port

    persistence:
      config:
        enabled: true
        existingClaim: ${APP}
        globalMounts:
        - path: /app/config
          subPath: config
        - path: /app/data
          subPath: data
      empty:
        type: emptyDir
        globalMounts:
          - path: /app/psql
            subPath: psql
      truenas-media:
        existingClaim: truenas-media
        globalMounts:
          - path: /media/downloads
            subPath: downloads
          - path: /media/games
            subPath: games
