---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: retrom
spec:
  type: oci
  url: oci://ghcr.io/jmberesford/charts
  interval: 24h
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app retrom
spec:
  chart:
    spec:
      chart: retrom
      version: 0.1.7
      sourceRef:
        kind: HelmRepository
        name: retrom
  interval: 1h
  timeout: 10m
  maxHistory: 3
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  values:
    server:
      image:
        repository: ghcr.io/jmberesford/retrom-server
        tag: 0.14.0
      ingress:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: &host "${APP}.${ROOT_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
      env:
        - name: SERVER_PORT
          value: "5101"
      envFrom:
        - secretRef:
            name: ${APP}-env
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
        limits:
          cpu: 1000m
          memory: 1Gi
      persistence:
        config:
          enabled: true
          existingClaim: ${APP}
          mountPath: /config
        library:
          enabled: true
          existingClaim: truenas-media
          mountPath: /library
          subPath: roms

    client:
      enabled: false

    postgresql:
      enabled: false
