---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app retrom
  namespace: &namespace equestria
  labels:
    app.kubernetes.io/name: *app
    driscoll.dev/name: *app
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
      driscoll.dev/name: *app
  path: ./kubernetes/apps/equestria/games/retrom
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 10m
  components:
    - ../../../../components/postgres
    - ../../../../components/volsync
  dependsOn:
    - name: postgres
      namespace: database
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_PUID: "1000"
      VOLSYNC_PGID: "1000"
