---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: observability
  labels:
    app: alertmanager
spec:
  type: ExternalName
  externalName: alertmanager.${ROOT_DOMAIN}
  ports:
    - name: http-web
      port: 443
      protocol: TCP
