---
apiVersion: v1
kind: Service
metadata:
  annotations:
    tailscale.com/tailnet-fqdn: "observability-thanos-write.${TAILSCALE_DOMAIN}"
  name: thanos-write
spec:
  externalName: unused
  type: ExternalName
