---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./romm/ks.yaml
  - ./retrom/ks.yaml
  - ./ggrequestz/ks.yaml
