---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app generic-runner
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: gha-arc-controller
  values:
    fullnameOverride: *app
    runnerScaleSetName: *app
    containerMode:
      type: kubernetes
    kubernetesModeWorkVolumeClaim:
      accessModes: ["ReadWriteOnce"]
      storageClassName: longhorn-local
      resources:
        requests:
          storage: 2Gi
    kubernetesModeAdditionalRoleRules: []
    template:
      spec:
        containers:
          - name: runner
            image: daviddriscoll/github-arc-runner-az-dotnet:latest@sha256:95467deec23cd6fadcda3b1aa8fa52079ac77ef8ace05a48604bc525f3f23c51
            resources:
              requests:
                cpu: 500m
                memory: 512Mi
              limits:
                memory: 2Gi
            command: ["/home/runner/run.sh"]
            env:
              - name: ACTIONS_RUNNER_CONTAINER_HOOKS
                value: /home/runner/k8s/index.js
              - name: ACTIONS_RUNNER_POD_NAME
                valueFrom:
                  fieldRef:
                    fieldPath: metadata.name
              - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                value: "true"
            volumeMounts:
              - name: work
                mountPath: /home/runner/_work
        volumes:
          - name: work
            accessModes: [ "ReadWriteOnce" ]
            storageClassName: longhorn-local
            resources:
              requests:
                storage: 5Gi
