---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app streammaster

spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 15m
  timeout: 10m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: -1
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/carlreid/streammaster
              tag: 0.15.0@sha256:20cb6360594d26b6056e6fdc1d3c541d94b5d44da784267426b0cbe6ad4dbade
              pullPolicy: IfNotPresent

            env:
              TZ: "${TIMEZONE}"
              POSTGRES_DB:
                valueFrom:
                  secretKeyRef:
                    name: streammaster-user
                    key: database
              POSTGRES_HOST:
                valueFrom:
                  secretKeyRef:
                    name: streammaster-user
                    key: hostname
              PGPORT:
                valueFrom:
                  secretKeyRef:
                    name: streammaster-user
                    key: port
              POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: streammaster-user
                    key: username
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: streammaster-user
                    key: password

            resources:
              requests:
                cpu: 50m
                memory: "256Mi"
              limits:
                memory: "2Gi"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/statistics/getissystemready
                    port: &port 7095
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

    defaultPodOptions:
      securityContext:
        runAsUser: 0 # Must be run as root user
        runAsGroup: 0
        runAsNonRoot: false # Must be run as root user
        fsGroup: 0
        fsGroupChangePolicy: "None"
        supplementalGroups:
          - 34
      dnsPolicy: ClusterFirstWithHostNet

    service:
      *app :
        controller: *app
        type: LoadBalancer
        ports:
          http:
            port: *port

    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "${APP}.${ROOT_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: *app
                port: *port

    persistence:
      config:
        existingClaim: ${APP}
