---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: seafile
spec:
  interval: 30m
  url: https://manual.seafile.com/charts
  timeout: 3m

---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app seafile
spec:
  chart:
    spec:
      chart: seafile
      version: 1.0.0
      sourceRef:
        kind: HelmRepository
        name: seafile
  maxHistory: 3
  interval: 1h
  timeout: 10m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: 7
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 7
      strategy: rollback
  rollback:
    force: false
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  dependsOn: []
  values:
    service:
      type: ClusterIP
      port: 80

    persistence:
      enabled: true
      storageClass: longhorn
      size: 50Gi

    ingress:
      enabled: false

    envFrom:
      - secretRef:
          name: ${APP}-env
