---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app emby
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 1h
  timeout: 1h
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: -1
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          emby:
            image:
              repository: emby/embyserver
              tag: 4.9.2.7@sha256:36fa84526d2d753fed4509318c2ea160cd44253a6c8ae067abd4d26dda1d92a0
            env:
              EMBY_CACHE_DIR: /cache
              EMBY_CONFIG_DIR: /config/config
              EMBY_DATA_DIR: /config
              EMBY_FFMPEG: /usr/lib/emby-ffmpeg/ffmpeg
              EMBY_LOG_DIR: /logs
              EMBY_WEB_DIR: /usr/share/emby/web
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              # EMBY_FFmpeg__probesize: 50000000
              # EMBY_FFmpeg__analyzeduration: 50000000
              PUID: ${PUID}
              PGID: ${PGID}
              TZ: America/New_York
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8096
                  initialDelaySeconds: 10
                  periodSeconds: 60
                  timeoutSeconds: 10
                  failureThreshold: 5
              readiness: *probes
            # securityContext:
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: false
            #   capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 500Mi
              limits:
                memory: 4Gi
                cpu: 4000m

    # tolerations:
    #   - key: nvidia.com/gpu
    #     operator: Exists
    #     effect: NoSchedule
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 568
    #     runAsGroup: 568
    #     fsGroup: 568
    #     fsGroupChangePolicy: OnRootMismatch
    #     supplementalGroups: [44, 109, 10000]
    #     seccompProfile: { type: RuntimeDefault }
    # nodeSelector:
    #   intel.feature.node.kubernetes.io/gpu: "true"

    service:
      app:
        controller: emby
        type: ClusterIP
        ports:
          http:
            port: *port
    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "${APP}.${ROOT_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/widget.type: emby
          gethomepage.dev/widget.url: "http://${APP}.${INTERNAL_CLUSTER_SERVICE}:8096"
          # gethomepage.dev/widget.key: "${emby_token}"
          gethomepage.dev/widget.enableBlocks: "true"
          gethomepage.dev/widget.enableNowPlaying: "true"
          gethomepage.dev/widget.enableUser: "true"
          gethomepage.dev/widget.showEpisodeNumber: "true"
          gethomepage.dev/widget.expandOneStreamToTwoRows: "true"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: emby.svg
          gethomepage.dev/name: Emby
          gethomepage.dev/namespace: "{{ .Release.Namespace }}" # The kubernetes namespace the app resides in
          gethomepage.dev/app: "${APP}"

    ingress:
      tailscale:
        className: tailscale
        annotations:
          reloader.stakater.com/auto: "true"
          tailscale.com/hostname: *app
        hosts:
          - host: "${APP}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config

      transcode:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /transcode

      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /cache

      logs:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /logs

      truenas-media-movies:
        existingClaim: truenas-media
        globalMounts:
          - path: /media/movies
            subPath: movies

      truenas-media-tv:
        existingClaim: truenas-media
        globalMounts:
          - path: /media/tv
            subPath: tvshows
