---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app collabora
  namespace: &namespace equestria
  labels:
    app.kubernetes.io/name: *app
    driscoll.dev/name: *app
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
      driscoll.dev/name: *app
  path: ./kubernetes/apps/equestria/home/collabora
  prune: true
  wait: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  dependsOn: []
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components: []
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
