---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dispatcharr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 1h
  timeout: 10m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: -1
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: *app
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        initContainers:
          chown-dbdir:
            image:
              repository: alpine
              tag: 3.23.3@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
              pullPolicy: IfNotPresent
            command:
              - /bin/sh
              - -c
            args:
              - |
                chmod 0750 /data/db
            securityContext:
              runAsUser: 0
              fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: dev@sha256:6589abf3d0f6dfc8f7b20d6e501c14b313679db8d651c63075ed5c575f9c6c78
              pullPolicy: IfNotPresent
            # -- environment variables.
            # See Dispatcharr documentation for environment variable details.
            env:
              PUID: ${PUID}
              PGID: ${PGID}
              UMASK: 002
              DISPATCHARR_ENV: aio
              REDIS_HOST: valkey.database.svc.cluster.local
              CELERY_BROKER_URL: redis://valkey.database.svc.cluster.local:6379/6
              DISPATCHARR_LOG_LEVEL: info
              TZ: ${TIMEZONE}
              DISPATCHARR_PORT: &port 9191
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 20
                  timeoutSeconds: 10
                  failureThreshold: 5
              readiness: *probes
            resources:
              requests:
                gpu.intel.com/i915: 2
                cpu: 2
                memory: 2Gi
              limits:
                gpu.intel.com/i915: 2
                # amd.com/gpu: 1
                memory: 6Gi
                # cpu: 8
          streamwatchdog:
            image:
              repository: sergeantpanda/streamwatchdog
              tag: v2.2.1@sha256:0a778af10cbd11ebb38cbc280ebc77ef6d66799b285dcb66c7213ed1d7c55dbd
            env:
              SERVER_URL: http://127.0.0.1:9191
              USERNAME:
                secretKeyRef:
                  name: ${APP}
                  key: username
              PASSWORD:
                secretKeyRef:
                  name: ${APP}
                  key: password
              MODULE: Dispatcharr
              ERROR_THRESHOLD: "3"
              TZ: ${TIMEZONE}

    # -- Configures service settings for the chart.
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: intel.feature.node.kubernetes.io/gpu
                operator: In
                values:
                - "true"
    service:
      app:
        controller: app
        type: ClusterIP
        ports:
          http:
            port: *port

    persistence:
      config:
        existingClaim: ${APP}
        advancedMounts:
          app:
            app:
              - path: /data
            chown-dbdir:
              - path: /data
      media:
        existingClaim: truenas-media
      tmpfs:
        type: emptyDir
        globalMounts:
            - path: /tmp

    route:
      app:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "${APP}.${ROOT_DOMAIN}"
        kind: HTTPRoute
        rules:
          - backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: traefik.io
                  kind: Middleware
                  name: local-user
