---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  url: oci://ghcr.io/grafana/helm-charts/grafana
  ref:
    tag: 10.2.0
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app grafana
spec:
  chartRef:
    kind: OCIRepository
    name: grafana
  interval: 24h
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    replicas: 1
    podAnnotations:
      reloader.stakater.com/auto: "true"
    env:
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_EXPLORE_ENABLED: true
      GF_FEATURE_TOGGLES_ENABLE: publicDashboards
      GF_SECURITY_COOKIE_SAMESITE: *app
      GF_SERVER_ROOT_URL: https://${APP}.${ROOT_DOMAIN}
    envFromSecrets:
      - name: grafana-secret
    grafana.ini:
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      auth:
        signout_redirect_url: https://${OIDC_ISSUER}/application/o/grafana/end-session/
        oauth_auto_login: true
        oauth_allow_insecure_email_lookup: true
      # # auth.anonymous:
      # #   enabled: true
      # #   org_name: Main Org.
      # #   org_role: Viewer
      # #   hide_version: true
      auth.generic_oauth:
        name: ${CLUSTER_TITLE}
        enabled: true
        scopes: openid email profile
        auth_url: https://${OIDC_ISSUER}/application/o/authorize/
        token_url: https://${OIDC_ISSUER}/application/o/token/
        api_url: https://${OIDC_ISSUER}/application/o/userinfo/
        # Optionally map user groups to Grafana roles
        role_attribute_path: contains(groups[*], 'admins') && 'Admin' || contains(groups[*], 'media-managers') && 'Editor' || 'Viewer'
    deploymentStrategy:
      type: RollingUpdate
    resources:
      requests:
        memory: 100Mi
        cpu: 10m
      limits:
        memory: 1024M
    admin:
      existingSecret: grafana-secret
      passwordKey: adminPass
      userKey: adminUser
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: node-monitoring
            folder: Node
            options:
              path: /var/lib/grafana/dashboards/node-monitoring
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: cilium
            folder: Services/Cilium
            options:
              path: /var/lib/grafana/dashboards/cilium
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: services
            folder: Services
            options:
              path: /var/lib/grafana/dashboards/services
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: media
            folder: Media
            options:
              path: /var/lib/grafana/dashboards/media
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: flux
            folder: Flux
            options:
              path: /var/lib/grafana/dashboards/flux
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: kubernetes
            folder: Kubernetes
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: kubernetes-other
            folder: Kubernetes Other
            options:
              path: /var/lib/grafana/dashboards/kubernetes-other
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: network
            folder: Network
            options:
              path: /var/lib/grafana/dashboards/network
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: system
            folder: System
            options:
              path: /var/lib/grafana/dashboards/system
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: thanos
            folder: Services/Thanos
            options:
              path: /var/lib/grafana/dashboards/thanos
          - orgId: 1
            type: file
            disableDeletion: true
            editable: false
            allowUiUpdates: true
            name: unifi
            folder: Services/Unifi
            options:
              path: /var/lib/grafana/dashboards/unifi
    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - {name: "Alertmanager", orgId: 1}
          - {name: "Loki", orgId: 1}
          - {name: "Prometheus", orgId: 1}
        datasources:
          - name: "Prometheus"
            type: prometheus
            uid: prometheus
            isDefault: true
            access: proxy
            url: http://thanos-query.observability.svc.cluster.local:9090
            jsonData:
              timeInterval: 1m
          - name: "Loki"
            type: loki
            uid: loki
            access: proxy
            url: http://loki-headless.observability.svc.cluster.local:3100
            jsonData:
              maxLines: 250
          - name: "Alertmanager"
            type: alertmanager
            access: proxy
            url: http://alertmanager-operated.observability.svc.cluster.local:9093
            jsonData:
              implementation: prometheus
    dashboards:
      node-monitoring:
        node-exporter-full:
          gnetId: 1860
          datasource: Prometheus
        node-exporter-bsd:
          gnetId: 4260
          datasource: Prometheus
        node-feature-discovery:
          url: https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/examples/grafana-dashboard.json
          datasource: Prometheus
        smartctl-exporter:
          gnetId: 22604
          datasource: Prometheus
      services:
        external-secrets:
          url: https://raw.githubusercontent.com/external-secrets/external-secrets/main/docs/snippets/dashboard.json
          datasource: Prometheus
        network-ups-tools:
          gnetId: 12455
          datasource: Prometheus
        cert-manager:
          gnetId: 20842
          datasource: Prometheus
        volsync:
          gnetId: 21356
          datasource:
            - {name: DS_PROMETHEUS, value: Prometheus}
            - {name: VAR_REPLICATIONDESTNAME, value: ".*-bootstrap"}
        spegel:
          gnetId: 18089
          datasource: Prometheus
      network:
        blackbox-exporter:
          gnetId: 7587
          datasource: Prometheus
        cloudflared:
          # renovate: depName="Cloudflare Tunnels (cloudflared)"
          gnetId: 17457
          datasource: Prometheus
        external-dns:
          gnetId: 15038
          datasource: Prometheus
        coredns:
          gnetId: 14981
          datasource: Prometheus
        speedtest-exporter-hub:
          gnetId: 13665
          datasource: Prometheus
      unifi:
        unifi-client-insights:
          gnetId: 11315
          datasourceName: "Prometheus"
        unifi-network-sites:
          gnetId: 11311
          datasourceName: "Prometheus"
        unifi-uap-insights:
          gnetId: 11314
          datasourceName: "Prometheus"
        unifi-usw-insights:
          gnetId: 11312
          datasourceName: "Prometheus"
      flux:
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
          datasource: Prometheus
        flux-logs:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/logs.json
          datasource: Prometheus
      kubernetes:
        k8s-system-api-server:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-api-server.json"
          datasource: Prometheus
        k8s-system-coredns:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-coredns.json"
          datasource: Prometheus
        k8s-views-global:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-global.json"
          datasource: Prometheus
        k8s-views-namespaces:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-namespaces.json"
          datasource: Prometheus
        k8s-views-nodes:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-nodes.json"
          datasource: Prometheus
        k8s-views-pods:
          url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-pods.json"
          datasource: Prometheus
      kubernetes-other:
        kubernetes-api-server:
          gnetId: 15761
          datasource: Prometheus
        kubernetes-coredns:
          gnetId: 15762
          datasource: Prometheus
        kubernetes-global:
          gnetId: 15757
          datasource: Prometheus
        kubernetes-namespaces:
          gnetId: 15758
          datasource: Prometheus
        kubernetes-nodes:
          gnetId: 15759
          datasource: Prometheus
        kubernetes-prometheus:
          gnetId: 19105
          datasource: Prometheus
        kubernetes-volumes:
          gnetId: 11454
          datasource: Prometheus
        kubernetes-pods:
          gnetId: 15760
          datasource: Prometheus
      media:
        miniflux:
          url: https://raw.githubusercontent.com/miniflux/v2/main/contrib/grafana/dashboard.json
          datasource: Prometheus
      thanos:
        thanos-bucket-replicate:
          url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/bucket-replicate.json
          datasource: Prometheus
        thanos-compact:
          url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/compact.json
          datasource: Prometheus
        thanos-overview:
          url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/overview.json
          datasource: Prometheus
        thanos-query-frontend:
          url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/query-frontend.json
          datasource: Prometheus
        thanos-query:
          url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/query.json
          datasource: Prometheus
        thanos-receive:
          url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/receive.json
          datasource: Prometheus
        thanos-rule:
          url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/rule.json
          datasource: Prometheus
        thanos-sidecar:
          url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/sidecar.json
          datasource: Prometheus
        thanos-store:
          url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/store.json
          datasource: Prometheus
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        label: grafana_dashboard
        folderAnnotation: grafana_folder
        provider:
          allowUiUpdates: true
          foldersFromFilesStructure: true
    plugins:
      - grafana-clock-panel
      - grafana-piechart-panel
      - grafana-worldmap-panel
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - vonage-status-panel
      - fifemon-graphql-datasource
    serviceMonitor:
      enabled: true
    persistence:
      enabled: false
    # topologySpreadConstraints:
    #   - maxSkew: 1
    #     topologyKey: kubernetes.io/hostname
    #     whenUnsatisfiable: DoNotSchedule
    #     labelSelector:
    #       matchLabels:
    #         app.kubernetes.io/name: *app

    route:
      main:
        enabled: true
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - ${APP}.${ROOT_DOMAIN}
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: local-user
