---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 79.7.1
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app grafana
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    nameOverride: *app
    fullnameOverride: *app
    ipFamilyPolicy: SingleStack
    ipFamilies:
      - IPv4
    cleanPrometheusOperatorObjectNames: true
    grafana:
      annotations:
        reloader.stakater.com/auto: "true"
      envFromSecrets:
        - name: grafana-secret
      env:
        GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
        GF_EXPLORE_ENABLED: true
        GF_FEATURE_TOGGLES_ENABLE: publicDashboards
        GF_SECURITY_COOKIE_SAMESITE: *app
        GF_SERVER_ROOT_URL: https://${APP}.${ROOT_DOMAIN}
      grafana.ini:
        analytics:
          check_for_updates: false
          check_for_plugin_updates: false
          reporting_enabled: false
        auth:
          signout_redirect_url: https://${OIDC_ISSUER}/application/o/grafana/end-session/
          oauth_auto_login: true
          oauth_allow_insecure_email_lookup: true
      admin:
        existingSecret: grafana-admin-secret
      route:
        main:
          enabled: true
          hostnames:
            - grafana.${ROOT_DOMAIN}
          parentRefs:
            - name: internal
              namespace: network
              kind: Gateway
          filters:
            - type: ExtensionRef
              extensionRef:
                group: traefik.io
                kind: Middleware
                name: authenticated-user
      operator:
        dashboardsConfigMapRefEnabled: true
        matchLabels:
          app: grafana

      defaultDashboardsTimezone: ${TIMEZONE}
      imageRenderer:
        enabled: true
      serviceMonitor:
        enabled: true
      sidecar:
        dashboards:
          label: grafana_dashboard
          labelValue: "true"
          multicluster:
            global:
              enabled: true
            etcd:
              enabled: true
        datasources:
          prometheusServiceName: thanos-query
          label: grafana_datasource
          labelValue: "true"
          defaultDatasourceEnabled: false
          deleteDatasources:
            - name: Prometheus
              orgId: 1
            - name: Loki
              orgId: 1
            - name: Alertmanager
              orgId: 1
          additionalDataSources:
            - name: "Thanos"
              type: prometheus
              uid: thanos
              isDefault: true
              access: proxy
              url: http://thanos-query.observability.svc.cluster.local:9090
              jsonData:
                timeInterval: 1m
            - name: "Loki"
              type: loki
              uid: loki
              access: proxy
              url: http://loki-headless.observability.svc.cluster.local:3100
              jsonData:
                maxLines: 250
            - name: "Alertmanager"
              type: alertmanager
              access: proxy
              url: http://alertmanager-operated.observability.svc.cluster.local:9093
              jsonData:
                implementation: prometheus
        persistence:
          enabled: true
          volumeName: grafana

    alertmanager: &disabled
      enabled: false
    kubeEtcd: *disabled
    crds: *disabled
    kubernetesServiceMonitors: *disabled
    kubeProxy: *disabled
    kubeApiServer: *disabled
    prometheus: *disabled
    prometheus-node-exporter: *disabled
    kube-state-metrics: *disabled
    kubeControllerManager: *disabled
    coreDns: *disabled
    kubelet: *disabled
    kubeScheduler: *disabled
    kubeStateMetrics: *disabled
    nodeExporter: *disabled
    prometheusOperator: *disabled
