---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app bazarr
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: truenas-volumes
      namespace: equestria
  path: ./kubernetes/apps/equestria/media/bazarr
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/tailscale
    - ../../../../components/volsync
    # - ../../../../components/volsync/backblaze
    - ../../../../components/gateway/internal
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
# ---
# # yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app emby
#   namespace: &namespace equestria
# spec:
#   targetNamespace: *namespace
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#   dependsOn:
#     - name: truenas-volumes
#       namespace: equestria
#   path: ./kubernetes/apps/equestria/media/emby
#   prune: true
#   wait: true
#   force: true
#   interval: 1h
#   timeout: 1h
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#     namespace: flux-system
#   components:
#     - ../../../../components/tailscale
#     - ../../../../components/volsync
#     - ../../../../components/gateway/internal
#   postBuild:
#     substitute:
#       APP: *app
#       NAMESPACE: *namespace
#       VOLSYNC_CAPACITY: 60Gi
#       VOLSYNC_STORAGECLASS: longhorn-local
# ---
# # yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app jellyfin
#   namespace: &namespace equestria
# spec:
#   targetNamespace: *namespace
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#   dependsOn:
#     - name: truenas-volumes
#       namespace: equestria
#   path: ./kubernetes/apps/equestria/media/jellyfin
#   prune: true
#   wait: true
#   force: true
#   interval: 1h
#   timeout: 1h
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#     namespace: flux-system
#   components:
#     - ../../../../components/tailscale
#     - ../../../../components/volsync
#     - ../../../../components/gateway/internal
#   postBuild:
#     substitute:
#       APP: *app
#       NAMESPACE: *namespace
#       VOLSYNC_CAPACITY: 60Gi
#       VOLSYNC_STORAGECLASS: longhorn-local
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app jellyseerr
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: truenas-volumes
      namespace: equestria
  path: ./kubernetes/apps/equestria/media/jellyseerr
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/tailscale
    - ../../../../components/volsync
    # has it's own ingress
    # - ../../../../components/gateway/internal
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app radarr
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: truenas-volumes
      namespace: equestria
  path: ./kubernetes/apps/equestria/media/radarr
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/tailscale
    - ../../../../components/volsync
    # - ../../../../components/volsync/backblaze
    # has it's own ingress
    # - ../../../../components/gateway/internal
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app sonarr
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: truenas-volumes
      namespace: equestria
  path: ./kubernetes/apps/equestria/media/sonarr
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/tailscale
    - ../../../../components/volsync
    # - ../../../../components/volsync/backblaze
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app plex
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: truenas-volumes
      namespace: equestria
  path: ./kubernetes/apps/equestria/media/plex
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/tailscale
    - ../../../../components/volsync
    - ../../../../components/gateway/internal
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_CAPACITY: 120Gi
      VOLSYNC_ACCESSMODES: ReadWriteMany
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tautulli
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: truenas-volumes
      namespace: equestria
  path: ./kubernetes/apps/equestria/media/tautulli
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/volsync
    # - ../../../../components/volsync/backblaze
    - ../../../../components/tailscale
    - ../../../../components/gateway/internal
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app lidarr
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: truenas-volumes
      namespace: equestria
  path: ./kubernetes/apps/equestria/media/lidarr
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/tailscale
    - ../../../../components/volsync
    # - ../../../../components/volsync/backblaze
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app kapowarr
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: truenas-volumes
      namespace: equestria
  path: ./kubernetes/apps/equestria/media/kapowarr
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/tailscale
    - ../../../../components/volsync
    # - ../../../../components/volsync/backblaze
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app dispatcharr
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: truenas-volumes
      namespace: equestria
  path: ./kubernetes/apps/equestria/media/dispatcharr
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/tailscale
    - ../../../../components/volsync
    # - ../../../../components/volsync/backblaze
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app watchstate
  namespace: &namespace equestria
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: volsync
      namespace: volsync-system
  path: ./kubernetes/apps/equestria/media/watchstate
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/volsync
    # - ../../../../components/volsync/backblaze
    - ../../../../components/tailscale
    - ../../../../components/gateway/internal
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_CAPACITY: 12Gi
# ---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app streammaster
#   namespace: &namespace equestria
# spec:
#   targetNamespace: *namespace
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#   dependsOn:
#     - name: volsync
#       namespace: volsync-system
#   path: ./kubernetes/apps/equestria/media/streammaster
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#     namespace: flux-system
#   wait: true
#   interval: 30m
#   retryInterval: 1m
#   timeout: 10m
#   components:
#     - ../../../../components/volsync
#     - ../../../../components/tailscale
    # - ../../../../components/ingress/internal
#   postBuild:
#     substitute:
#       APP: *app
#       NAMESPACE: *namespace
#       VOLSYNC_CAPACITY: 20Gi
