---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${APP}-env
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  refreshPolicy: Periodic
  refreshInterval: 1m
  target:
    name: ${APP}-env
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
        annotations:
          reloader.stakater.com/auto: "true"
      data:
        ROOT_DOMAIN: "${ROOT_DOMAIN}"
        AUTHENTIK_API_TOKEN: "{{ .authentik_credential }}"
        proxmox_endpoint: "{{ .proxmox_endpoint }}"
        proxmox_credential: "{{ .proxmox_credential }}"
        # pbs_host: "{{ .pbs_host }}"
        # pbs_token: "{{ .pbs_token }}"
        cf_accountId: "{{ .cf_accountId }}"
        cf_username: "{{ .cf_username }}"
        cf_credential: "{{ .cf_credential }}"
        equestria_tunnel_username: "{{ .equestria_cf_username }}"
        equestria_tunnel_credential: "{{ .equestria_cf_credential }}"
        sgc_tunnel_username: "{{ .sgc_cf_username }}"
        sgc_tunnel_credential: "{{ .sgc_cf_credential }}"
        cftunnel_username: "{{ .cftunnel_username }}"
        prowlarr_apikey: "{{ .prowlarr_apikey }}"
        unifi_api_key: "{{ .unifi_credential }}"
        github_token: "{{ .github_token }}"
        grafana_token: "{{ .grafana_token }}"
        sonarr_api_key: "{{ .sonarr_apikey }}"
        tautulli_api_key: "{{ .tautulli_token }}"
        sabnzbd_api_key: "{{ .sabnzbd_apikey }}"
        jellyfin_api_key: "{{ .jellyfin_token }}"
        jellyfin_user_id: "" # "{{ .jellyfin_user_id }}"
        immich_api_key: "{{ .immich_password }}"
  dataFrom:
    - extract:
        key: ${CLUSTER_TITLE} Pushover Key
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "pushover_$1"
    - extract:
        key: Authentik Token
      rewrite:
        - regexp:
            source: "(.*)"
            target: "authentik_$1"
    - extract:
        key: Proxmox ApiKey
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "proxmox_$1"
    - extract:
        key: Celestia PBS Backup User
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "celestia_pbs_$1"
    - extract:
        key: Luna PBS backup user
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "luna_pbs_$1"
    - extract:
        key: Cloudflare (driscoll.tech)
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "cf_$1"
    - extract:
        key: Equestria Cloudflare Tunnel
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "equestria_cf_$1"
    - extract:
        key: Stargate Command Cloudflare Tunnel
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "sgc_cf_$1"
    - extract:
        key: Unifi Api Key Eris Cluster
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "unifi_$1"
    - extract:
        key: github-token
      sourceRef:
        storeRef:
          kind: SecretStore
          name: ${NAMESPACE}
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "github_$1"
    - extract:
        key: Grafana Credentials
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "grafana_$1"
    - extract:
        key: Media Management Secrets
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
