---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${APP}-env
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  refreshPolicy: Periodic
  refreshInterval: 10m
  target:
    name: ${APP}-env
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
        annotations:
          reloader.stakater.com/auto: "true"
      data:
        ROOT_DOMAIN: "${ROOT_DOMAIN}"
        AUTHENTIK_API_TOKEN: "{{ .authentik_credential }}"
        # PROXMOX_ENDPOINT: "{{ .proxmox_endpoint }}"
        # PROXMOX_CREDENTIAL: "{{ .proxmox_credential }}"
        # PBS_HOST: "{{ .pbs_host }}"
        # PBS_TOKEN: "{{ .pbs_token }}"
        CF_ACCOUNTID: "{{ .cf_accountId }}"
        CF_USERNAME: "{{ .cf_username }}"
        CF_CREDENTIAL: "{{ .cf_credential }}"
        EQUESTRIA_TUNNEL_USERNAME: "{{ .equestria_cf_username }}"
        EQUESTRIA_TUNNEL_CREDENTIAL: "{{ .equestria_cf_credential }}"
        SGC_TUNNEL_USERNAME: "{{ .sgc_cf_username }}"
        SGC_TUNNEL_CREDENTIAL: "{{ .sgc_cf_credential }}"
        # CFTUNNEL_USERNAME: "{{ .cftunnel_username }}"
        PROWLARR_APIKEY: "{{ .prowlarr_apikey }}"
        UNIFI_API_KEY: "{{ .unifi_credential }}"
        GITHUB_TOKEN: "{{ .github_token }}"
        GRAFANA_TOKEN: "{{ .grafana_credential }}"
        SONARR_API_KEY: "{{ .sonarr_apikey }}"
        TAUTULLI_API_KEY: "{{ .tautulli_token }}"
        SABNZBD_API_KEY: "{{ .sabnzbd_apikey }}"
        JELLYFIN_API_KEY: "{{ .jellyfin_token }}"
        PLEX_API_KEY: "{{ .plex_token }}"
        JELLYFIN_USER_ID: "" # "{{ .jellyfin_user_id }}"
        IMMICH_API_KEY: "{{ .immich_password }}"
        IMMICH_URL: "http://immich.equestria.svc.cluster.local:2283"
        PROWLARR_URL: "http://prowlarr.equestria.svc.cluster.local:9696"
        SABNZBD_URL: "http://sabnzbd.equestria.svc.cluster.local:8080"
        QBITTORRENT_URL: "http://qbittorrent.equestria.svc.cluster.local:8080"
        SONARR_URL: "http://sonarr.equestria.svc.cluster.local:8989"
        TAUTULLI_URL: "http://tautulli.equestria.svc.cluster.local:8181"
        JELLYFIN_URL: "http://jellyfin.equestria.svc.cluster.local:8096"
        ROMM_URL: "http://romm.equestria.svc.cluster.local:80"
        DISCORD_URL: "https://discord.driscoll.tech"
        GRAFANA_URL: "http://grafana.observability.svc.cluster.local:3000"
        AUTHENTIK_URL: "https://authentik.driscoll.tech"
        UPTIME_URL: "https://uptime.driscoll.tech"
        GLANCE_K8S_SGC_URL: "https://glance-k8s.sgc.driscoll.tech"
        GLANCE_K8S_EQUESTRIA_URL: "http://glance-k8s.observability.svc.cluster.local:8080"
        HEADLAMP_SGC_URL: "https://headlamp.sgc.driscoll.tech"
        HEADLAMP_EQUESTRIA_URL: "https://headlamp.equestria.driscoll.tech"
        BACKREST_LUNA_URL: "https://backrest.luna.driscoll.tech"
        BACKREST_CELESTIA_URL: "https://backrest.celestia.driscoll.tech"

  dataFrom:
    - extract:
        key: ${CLUSTER_TITLE} Pushover Key
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "pushover_$1"
    - extract:
        key: Authentik Token
      rewrite:
        - regexp:
            source: "(.*)"
            target: "authentik_$1"
    - extract:
        key: Proxmox ApiKey
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "proxmox_$1"
    - extract:
        key: Immich ApiKey
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "immich_$1"
    - extract:
        key: Celestia PBS Backup User
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "celestia_pbs_$1"
    - extract:
        key: Luna PBS backup user
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "luna_pbs_$1"
    - extract:
        key: Cloudflare (driscoll.tech)
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "cf_$1"
    - extract:
        key: Equestria Cloudflare Tunnel
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "equestria_cf_$1"
    - extract:
        key: Stargate Command Cloudflare Tunnel
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "sgc_cf_$1"
    - extract:
        key: Unifi Api Key Eris Cluster
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "unifi_$1"
    - extract:
        key: github-token
      sourceRef:
        storeRef:
          kind: SecretStore
          name: ${NAMESPACE}
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "github_$1"
    - extract:
        key: Grafana ApiKey
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "grafana_$1"
    - extract:
        key: Media Management Secrets
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
