---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: threadfin-config
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: truenas-iscsi-stash
  volumeMode: Filesystem
  csi:
    driver: 
    readOnly: false
    volumeHandle: threadfin
    volumeAttributes:
      portal: "${SPIKE_IP}"
      iqn: iqn.2005-10.org.freenas.ctl:threadfin
      lun: "0"
      node_attach_driver: iscsi
      provisioner_driver: freenas-iscsi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: threadfin-config
spec:
  storageClassName: truenas-iscsi-stash
  volumeName: threadfin-config
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
