---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${APP}-env
spec:
  refreshPolicy: Periodic
  refreshInterval: 4m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: ${APP}-env
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
        annotations:
          reloader.stakater.com/auto: "true"
      data:
        # --- Your IPTV provider M3U playlist URLs ---
        MOVIE_M3U_URL: "{{ .xcproxy_vod_movies }}"
        SERIES_M3U_URL: "{{ .xcproxy_vod_tv }}"

        # --- TMDb (for posters/plots) ---
        TMDB_API_KEY: "{{ .tmdb_password }}"

  dataFrom:
    - extract:
        key: "XCProxy"
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "xcproxy_$1"
    - extract:
        key: "TMDB API Key"
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "tmdb_$1"
