---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./externalsecret.yaml
configMapGenerator:
  - files:
      - App.cs=./resources/App.cs
    name: xcproxy-app-script
generatorOptions:
  disableNameSuffixHash: true
