---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${APP}-env
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  refreshPolicy: Periodic
  refreshInterval: 4m
  target:
    name: ${APP}-env
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
        annotations:
          reloader.stakater.com/auto: "true"
      data:
        TRILIUM_MULTIFACTORAUTHENTICATION_OAUTHISSUERBASEURL: "{{ .oidc_issuer }}"
        TRILIUM_MULTIFACTORAUTHENTICATION_OAUTHISSUERNAME: "{{ .cluster_title }}"
        TRILIUM_MULTIFACTORAUTHENTICATION_OAUTHISSUERICON: "{{ .cluster_favicon }}"
        TRILIUM_MULTIFACTORAUTHENTICATION_OAUTHCLIENTID: "{{ .oidc_client_id }}"
        TRILIUM_MULTIFACTORAUTHENTICATION_OAUTHCLIENTSECRET: "{{ .oidc_client_secret }}"
        TRILIUM_GENERAL_INSTANCE_NAME: "{{ .cluster_title }} Notes"
  dataFrom:
    - extract:
        key: '${CLUSTER_CNAME}-${APP}-oidc-credentials'
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "oidc_$1"

    - extract:
        key: 'Cluster: ${CLUSTER_TITLE}'
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
        - regexp:
            source: "(.*)"
            target: "cluster_$1"


