---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unpoller
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      unpoller:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
        containers:
          app:
            image:
              repository: ghcr.io/unpoller/unpoller
              tag: v2.34.0@sha256:73423ddfe304e866b2cda2d3ecf8e68c15317c93a22945ad7d941d3ca3a6d022
            env:
              TZ: ${TIMEZONE}
              UP_POLLER_DEBUG: true
              UP_INFLUXDB_DISABLE: true
              UP_UNIFI_DEFAULT_ROLE: home-ops
              UP_UNIFI_DEFAULT_URL: https://${DISCORD_DOMAIN}:443
              UP_LOKI_DISABLE: false
              UP_LOKI_URL: http://loki-headless.observability.svc.cluster.local:3100
              UP_UNIFI_DEFAULT_SAVE_ALARMS: true
              UP_UNIFI_DEFAULT_SAVE_ANOMALIES: true
              UP_UNIFI_DEFAULT_SAVE_DPI: true
              UP_UNIFI_DEFAULT_SAVE_EVENTS: true
              UP_UNIFI_DEFAULT_SAVE_IDS: true
              UP_UNIFI_DEFAULT_SAVE_SITES: true
              UP_UNIFI_DEFAULT_VERIFY_SSL: true
              UP_UNIFI_DYNAMIC: false
              UP_PROMETHEUS_DISABLE: false
              UP_PROMETHEUS_NAMESPACE: "unpoller"
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 3
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 36M
              limits:
                memory: 128M
    service:
      app:
        controller: *app
        ports:
          http:
            port: 9130
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m # Unifi API only polls at 2m intervals
            scrapeTimeout: 10s
