---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: kometa
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: kometa-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        KOMETA_PLEX_API_KEY: "{{ .plex_token }}"
        KOMETA_TAUTULLI_API_KEY: "{{ .tautulli_equestria_token }}"
        KOMETA_TMDB_API_KEY: "{{ .tmdb_api_key }}"
        KOMETA_OMDB_API_KEY: "{{ .omdb_api_key }}"
        KOMETA_MDBLIST_API_KEY: "{{ .mdblist_api_key }}"
        KOMETA_RADARR_API_KEY: "{{ .radarr_apikey }}"
        KOMETA_SONARR_API_KEY: "{{ .sonarr_apikey }}"
  dataFrom:
    - extract:
        key: Media Management Secrets
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
