---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: kometa
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: kometa-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      templateFrom:
      - target: Data
        configMap:
          name: kometa-configmap
          items:
          - key: config.yml
            templateAs: Values
  dataFrom:
    - extract:
        key: Media Management Secrets
      rewrite:
        - regexp:
            source: "[\\W]"
            target: _
