---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kometa
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      kometa:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "0 */8 * * *"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          ttlSecondsAfterFinished: 86400
        containers:
          app:
            image:
              repository: docker.io/kometateam/kometa
              tag: v2.2.2@sha256:32992226d1a505da3ed5d4e9c97bed8a6deb7aef36cd5ef8b1f519762607df45
            command:
              - /bin/sh
              - -c
            args:
              - |
                python3 kometa.py --run --read-only-config --run-libraries "Movies";
                python3 kometa.py --run --read-only-config --run-libraries "TV Shows";
            env:
              TZ: ${TIMEZONE}
            envFrom:
              - secretRef:
                  name: kometa-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 6Gi
        pod:
          restartPolicy: Never
      imagemaid:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "40 */8 * * *"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          ttlSecondsAfterFinished: 86400
        containers:
          app:
            image:
              repository: kometateam/imagemaid
              tag: v1.1.1@sha256:fbec331b36c1473f8a9c4214f55e5b097860476c8a5274eb61a2b85df89e56cc
            env:
              PLEX_PATH: /plex/
              MODE: remove
              PLEX_URL: http://plex.equestria.svc.cluster.local:32400
              PLEX_TOKEN:
                secretKeyRef:
                  name: spike-management-credentials
                  key: plex_token
    persistence:
      plex:
        existingClaim: plex
        globalMounts:
          - path: /plex
      nfs-data:
        type: nfs
        server: ${SPIKE_IP}
        path: /mnt/stash/data/plex
        globalMounts:
          - path: /plex/Metadata
            subPath: metadata
          # - path: /plex/Media
          #   subPath: media
          # - path: /plex/Scanners
          #   subPath: scanners

      config:
        existingClaim: *app
      config-file:
        type: configMap
        name: kometa-configmap
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
          - path: /config/1-moviecharts.yml
            subPath: 1-moviecharts.yml
            readOnly: true
          - path: /config/2-tvcharts.yml
            subPath: 2-tvcharts.yml
            readOnly: true
          - path: /config/3-bestof.yml
            subPath: 3-bestof.yml
            readOnly: true
          - path: /config/5-holiday.yml
            subPath: 5-holiday.yml
            readOnly: true
          - path: /config/7-networks.yml
            subPath: 7-networks.yml
            readOnly: true
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
