---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app questarr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  interval: 1h
  timeout: 10m
  install:
    createNamespace: true
    replace: true
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: -1
      strategy: rollback
  rollback:
    force: true
    cleanupOnFail: true
    recreate: true
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: *app
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        initContainers:
          copy-app:
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              runAsUser: 568
              runAsGroup: 568
              capabilities: { drop: ["ALL"] }
            image:
              repository: ghcr.io/doezer/questarr
              tag: dev@sha256:c5acbb3d909e9bfc6031b9a3cba07586d89b89552478a901d23401c8a06acbb9
              pullPolicy: IfNotPresent
            command:
              - "/bin/sh"
              - "-c"
            args: |-
                if [ ! -f /app-writable/package.json ]; then
                  echo "Copying app to writable volume..."
                  cp -a /app/. /app-writable/
                else
                  echo "App already exists in writable volume."
                fi
        containers:
          app:
            image:
              repository: ghcr.io/doezer/questarr
              tag: dev@sha256:c5acbb3d909e9bfc6031b9a3cba07586d89b89552478a901d23401c8a06acbb9
              pullPolicy: IfNotPresent
            env:
              PUID: ${PUID}
              PGID: ${PGID}
              UMASK: 002
              PORT: &port 5000
              TZ: ${TIMEZONE}
            workingDir: /app-writable
            envFrom:
              - secretRef:
                  name: ${APP}-env
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 5
              readiness: *probes
            securityContext:
              runAsNonRoot: true
              runAsUser: 568
              runAsGroup: 568
              fsGroup: 568
              fsGroupChangePolicy: OnRootMismatch
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2Gi

    defaultPodOptions:
      securityContext:
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: app
        type: ClusterIP
        ports:
          http:
            port: *port

    persistence:
      app-writable:
        type: emptyDir
        sizeLimit: 2Gi
        globalMounts:
          - path: /app-writable
      config:
        existingClaim: ${APP}
        globalMounts:
          - path: /app/data
      media:
        existingClaim: truenas-media
        globalMounts:
          - path: /media/downloads
            subPath: downloads
          - path: /media/games
            subPath: games
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp

    route:
      internal:
        parentRefs:
          - name: internal
            namespace: network
            kind: Gateway
        hostnames:
          - "${APP}.${ROOT_DOMAIN}"
        kind: HTTPRoute
        rules:
          - matches:
              - headers:
                  - name: X-Api-Key
                    value: ".*"
            backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: traefik.io
                  kind: Middleware
                  name: local-user
          - backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: traefik.io
                  kind: Middleware
                  name: authenticated-user

