---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # - ./david-driscoll/ks.yaml
  - ./littles-tech/ks.yaml
  - ./littles-tech-release/ks.yaml
