---
# yaml-language-server: $schema=https://raw.githubusercontent.com/controlplaneio-fluxcd/charts/refs/heads/main/charts/flux-instance/values.schema.json
instance:
  distribution:
    # renovate: datasource=github-releases depName=controlplaneio-fluxcd/distribution
    version: 2.7.5
    registry: "ghcr.io/fluxcd"
  cluster:
    networkPolicy: false
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  sync:
    name: flux-system
    kind: GitRepository
    url: "https://github.com/david-driscoll/equestria-cluster.git"
    ref: "refs/heads/main"
    path: kubernetes/flux/cluster
  kustomize:
    patches:
      - # Increase the number of concurrent reconciles
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=10
        target:
          kind: Deployment
          name: (source-controller|helm-controller)
      - # Increase the number of concurrent reconciles and set memory limits
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=20
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --kube-api-qps=500
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --kube-api-burst=1000
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --requeue-dependency=5s
          - op: replace
            path: /spec/template/spec/containers/0/resources/limits/memory
            value: 1Gi
        target:
          kind: Deployment
          name: kustomize-controller
      - # Enable in-memory kustomize builds
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=20
          - op: replace
            path: /spec/template/spec/volumes/0
            value:
              name: temp
              emptyDir:
                medium: Memory
        target:
          kind: Deployment
          name: kustomize-controller
      - # Enable Helm repositories caching
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-max-size=10
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-ttl=60m
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-purge-interval=5m
        target:
          kind: Deployment
          name: source-controller
      # - # Enable OOM watch
      #   patch: |
      #     - op: add
      #       path: /spec/template/spec/containers/0/args/-
      #       value: --feature-gates=OOMWatch=true
      #     - op: add
      #       path: /spec/template/spec/containers/0/args/-
      #       value: --oom-watch-memory-threshold=95
      #     - op: add
      #       path: /spec/template/spec/containers/0/args/-
      #       value: --oom-watch-interval=500ms
      #   target:
      #     kind: Deployment
      #     name: (helm-controller|kustomize-controller|source-controller)
      - # Disable chart digest tracking
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=DetectDrift=false,CorrectDrift=false
        target:
          kind: Deployment
          name: helm-controller
      - # Controller-level SOPS decryption
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --sops-age-secret=sops-age
        target:
          kind: Deployment
          name: kustomize-controller
      - # Watch configmaps and secrets attached to HelmReleases and Kustomizations
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --watch-configs-label-selector=owner!=helm
        target:
          kind: Deployment
          name: (helm-controller|kustomize-controller)
      - # Cancel health checks on new Kustomizations revisions
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=CancelHealthCheckOnNewRevision=true
        target:
          kind: Deployment
          name: kustomize-controller

healthcheck:
  enabled: true
