apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  datasource:
    type: prometheus
    name: "Prometheus"
    isDefault: true
    access: proxy
    url: http://thanos-query.observability.svc.cluster.local:9090
    jsonData:
      timeInterval: 1m
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: loki
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  datasource:
    name: "Loki"
    type: loki
    uid: loki
    access: proxy
    url: http://loki-headless.observability.svc.cluster.local:3100
    jsonData:
      maxLines: 250
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: alertmanager
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  datasource:
    name: "Alertmanager"
    type: alertmanager
    access: proxy
    url: http://alertmanager-operated.observability.svc.cluster.local:9093
    jsonData:
      implementation: prometheus
