---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 80.4.1
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app grafana
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    nameOverride: *app
    fullnameOverride: *app
    ipFamilyPolicy: SingleStack
    ipFamilies:
      - IPv4
    cleanPrometheusOperatorObjectNames: true
    grafana:
      replicas: 2
      headlessService: true
      annotations:
        reloader.stakater.com/auto: "true"
      envFromSecrets:
        - name: grafana-secret
      env:
        GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
        GF_EXPLORE_ENABLED: true
        GF_FEATURE_TOGGLES_ENABLE: publicDashboards
        GF_SECURITY_COOKIE_SAMESITE: *app
        GF_UNIFIED_ALERTING_ENABLED: "false"
        GF_SERVER_ROOT_URL: https://${APP}.${ROOT_DOMAIN}
      grafana.ini:
        analytics:
          check_for_updates: false
          check_for_plugin_updates: false
          reporting_enabled: false
        auth:
          oauth_auto_login: true
          oauth_allow_insecure_email_lookup: true
        auth.anonymous:
          enabled: true
          org_name: "${CLUSTER_TITLE}"
          org_role: "Viewer"
        security:
          allow_embedding: true
          cookie_samesite: "disabled"
        public_dashboards:
          enabled: true
      admin:
        existingSecret: grafana-admin-secret
      route:
        main:
          enabled: true
          hostnames:
            - grafana.${ROOT_DOMAIN}
          parentRefs:
            - name: internal
              namespace: network
              kind: Gateway
          filters:
            - type: ExtensionRef
              extensionRef:
                group: traefik.io
                kind: Middleware
                name: local-user
      operator:
        dashboardsConfigMapRefEnabled: true
        matchLabels:
          app: grafana

      # defaultDashboardsEnabled: false
      defaultDashboardsTimezone: ${TIMEZONE}
      imageRenderer:
        enabled: false
      serviceMonitor:
        enabled: true
      sidecar:
        dashboards:
          label: grafana_dashboard
          labelValue: "true"
          multicluster:
            global:
              enabled: true
            etcd:
              enabled: true
      persistence:
        enabled: true
        inMemory:
          enabled: true
          sizeLimit: 512Mi
      plugins:
        - alertlist
        - grafana-github-datasource
        - grafana-advisor-app
        - grafana-oncall-app
        - grafana-lokioperational-app
        - camptocamp-prometheus-alertmanager-datasource
        - vonage-status-panel
        - serrrios-statusoverview-panel
        - marcusolsson-treemap-panel
        - grafana-clock-panel
        - grafana-piechart-panel
        - grafana-worldmap-panel
        - natel-discrete-panel
        - pr0ps-trackmap-panel
        - vonage-status-panel
        - fifemon-graphql-datasource
    alertmanager: &disabled
      enabled: false
    kubeEtcd: *disabled
    crds: *disabled
    kubernetesServiceMonitors: *disabled
    kubeProxy: *disabled
    kubeApiServer: *disabled
    prometheus: *disabled
    prometheus-node-exporter: *disabled
    kube-state-metrics: *disabled
    kubeControllerManager: *disabled
    coreDns: *disabled
    kubelet: *disabled
    kubeScheduler: *disabled
    kubeStateMetrics: *disabled
    nodeExporter: *disabled
    prometheusOperator: *disabled
