---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 79.12.0
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app grafana
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    nameOverride: *app
    fullnameOverride: *app
    ipFamilyPolicy: SingleStack
    ipFamilies:
      - IPv4
    cleanPrometheusOperatorObjectNames: true
    grafana:
      annotations:
        reloader.stakater.com/auto: "true"
      envFromSecrets:
        - name: grafana-secret
      env:
        GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
        GF_EXPLORE_ENABLED: true
        GF_FEATURE_TOGGLES_ENABLE: publicDashboards
        GF_SECURITY_COOKIE_SAMESITE: *app
        GF_SERVER_ROOT_URL: https://${APP}.${ROOT_DOMAIN}
      grafana.ini:
        analytics:
          check_for_updates: false
          check_for_plugin_updates: false
          reporting_enabled: false
        auth:
          signout_redirect_url: https://${OIDC_ISSUER}/application/o/grafana/end-session/
          oauth_auto_login: true
          oauth_allow_insecure_email_lookup: true
      admin:
        existingSecret: grafana-admin-secret
      route:
        main:
          enabled: true
          hostnames:
            - grafana.${ROOT_DOMAIN}
          parentRefs:
            - name: internal
              namespace: network
              kind: Gateway
          filters:
            - type: ExtensionRef
              extensionRef:
                group: traefik.io
                kind: Middleware
                name: local-user
      operator:
        dashboardsConfigMapRefEnabled: true
        matchLabels:
          app: grafana

      defaultDashboardsTimezone: ${TIMEZONE}
      imageRenderer:
        enabled: false
      serviceMonitor:
        enabled: true
      sidecar:
        dashboards:
          label: grafana_dashboard
          labelValue: "true"
          multicluster:
            global:
              enabled: true
            etcd:
              enabled: true
      persistence:
        enabled: true
        existingClaim: grafana
      datasources:
        datasources.yaml:
          apiVersion: 1

          datasources:
            - name: "Prometheus"
              type: prometheus
              uid: prometheus
              isDefault: true
              access: proxy
              url: http://thanos-query.observability.svc.cluster.local:9090
              jsonData:
                timeInterval: 1m
            - name: "Loki"
              type: loki
              uid: loki
              isDefault: false
              access: proxy
              url: http://loki-headless.observability.svc.cluster.local:3100
              jsonData:
                maxLines: 250
            - name: "Alertmanager"
              type: alertmanager
              isDefault: false
              access: proxy
              url: http://alertmanager-operated.observability.svc.cluster.local:9093
              jsonData:
                implementation: prometheus

      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: node-monitoring
              folder: Node
              options:
                path: /var/lib/grafana/dashboards/node-monitoring
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: cilium
              folder: Cilium
              options:
                path: /var/lib/grafana/dashboards/cilium
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: services
              folder: Services
              options:
                path: /var/lib/grafana/dashboards/services
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: media
              folder: Media
              options:
                path: /var/lib/grafana/dashboards/media
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: flux
              folder: Flux
              options:
                path: /var/lib/grafana/dashboards/flux
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: k8s
              folder: K8S
              options:
                path: /var/lib/grafana/dashboards/k8s
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: kubernetes
              folder: Kubernetes
              options:
                path: /var/lib/grafana/dashboards/kubernetes
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: network
              folder: Network
              options:
                path: /var/lib/grafana/dashboards/network
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: system
              folder: System
              options:
                path: /var/lib/grafana/dashboards/system
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: thanos
              folder: Thanos
              options:
                path: /var/lib/grafana/dashboards/thanos
            - orgId: 1
              type: file
              disableDeletion: true
              editable: false
              allowUiUpdates: true
              name: unifi
              folder: Unifi
              options:
                path: /var/lib/grafana/dashboards/unifi
      dashboards:
        node-monitoring:
          node-exporter-full:
            gnetId: 1860
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          node-exporter-bsd:
            gnetId: 4260
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          node-feature-discovery:
            url: https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/examples/grafana-dashboard.json
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          smartctl-exporter:
            gnetId: 22604
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
        services:
          external-secrets:
            url: https://raw.githubusercontent.com/external-secrets/external-secrets/main/docs/snippets/dashboard.json
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          network-ups-tools:
            gnetId: 12455
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          cert-manager:
            gnetId: 20842
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          volsync:
            gnetId: 21356
            datasource:
              - {name: DS_PROMETHEUS, value: Prometheus}
              - {name: VAR_REPLICATIONDESTNAME, value: ".*-bootstrap"}
          spegel:
            gnetId: 18089
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
        network:
          blackbox-exporter:
            gnetId: 7587
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          cloudflared:
            gnetId: 17457
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          external-dns:
            gnetId: 15038
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          coredns:
            gnetId: 14981
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          speedtest-exporter-hub:
            gnetId: 13665
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
        unifi:
          unifi-client-insights:
            gnetId: 11315
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          unifi-network-sites:
            gnetId: 11311
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          unifi-uap-insights:
            gnetId: 11314
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          unifi-usw-insights:
            gnetId: 11312
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
        flux:
          flux-cluster:
            url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          flux-control-plane:
            url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          flux-logs:
            url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/logs.json
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
        k8s:
          k8s-system-api-server:
            url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-api-server.json"
            datasource: [{name: prometheus, value: Prometheus}]
          k8s-system-coredns:
            url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-coredns.json"
            datasource: [{name: prometheus, value: Prometheus}]
          k8s-views-global:
            url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-global.json"
            datasource: [{name: prometheus, value: Prometheus}]
          k8s-views-namespaces:
            url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-namespaces.json"
            datasource: [{name: prometheus, value: Prometheus}]
          k8s-views-nodes:
            url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-nodes.json"
            datasource: [{name: prometheus, value: Prometheus}]
          k8s-views-pods:
            url: "https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-pods.json"
            datasource: [{name: prometheus, value: Prometheus}]
        kubernetes:
          kubernetes-api-server:
            gnetId: 15761
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          kubernetes-coredns:
            gnetId: 15762
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          kubernetes-global:
            gnetId: 15757
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          kubernetes-namespaces:
            gnetId: 15758
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          kubernetes-nodes:
            gnetId: 15759
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          kubernetes-prometheus:
            gnetId: 19105
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          kubernetes-volumes:
            gnetId: 11454
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
          kubernetes-pods:
            gnetId: 15760
            datasource: [{name: DS_PROMETHEUS, value: Prometheus}]
        media:
          miniflux:
            url: https://raw.githubusercontent.com/miniflux/v2/main/contrib/grafana/dashboard.json
            datasource: [{name: datasource, value: Prometheus}]
        thanos:
          thanos-bucket-replicate:
            url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/bucket-replicate.json
            datasource: [{name: datasource, value: Prometheus}]
          thanos-compact:
            url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/compact.json
            datasource: [{name: datasource, value: Prometheus}]
          thanos-overview:
            url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/overview.json
            datasource: [{name: datasource, value: Prometheus}]
          thanos-query-frontend:
            url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/query-frontend.json
            datasource: [{name: datasource, value: Prometheus}]
          thanos-query:
            url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/query.json
            datasource: [{name: datasource, value: Prometheus}]
          thanos-receive:
            url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/receive.json
            datasource: [{name: datasource, value: Prometheus}]
          thanos-rule:
            url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/rule.json
            datasource: [{name: datasource, value: Prometheus}]
          thanos-sidecar:
            url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/sidecar.json
            datasource: [{name: datasource, value: Prometheus}]
          thanos-store:
            url: https://raw.githubusercontent.com/thanos-io/thanos/refs/heads/main/examples/dashboards/store.json
            datasource: [{name: datasource, value: Prometheus}]
      plugins:
        - grafana-clock-panel
        - grafana-piechart-panel
        - grafana-worldmap-panel
        - natel-discrete-panel
        - pr0ps-trackmap-panel
        - vonage-status-panel
        - fifemon-graphql-datasource
    alertmanager: &disabled
      enabled: false
    kubeEtcd: *disabled
    crds: *disabled
    kubernetesServiceMonitors: *disabled
    kubeProxy: *disabled
    kubeApiServer: *disabled
    prometheus: *disabled
    prometheus-node-exporter: *disabled
    kube-state-metrics: *disabled
    kubeControllerManager: *disabled
    coreDns: *disabled
    kubelet: *disabled
    kubeScheduler: *disabled
    kubeStateMetrics: *disabled
    nodeExporter: *disabled
    prometheusOperator: *disabled
