---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app grafana
  namespace: &namespace observability
  labels:
    app.kubernetes.io/name: *app
    driscoll.dev/name: *app
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
      driscoll.dev/name: *app
      kustomize.toolkit.fluxcd.io/force: enabled
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: onepassword-connect
      namespace: kube-system
    - name: external-secrets
      namespace: kube-system
    - name: grafana-operator
      namespace: *namespace
  path: ./kubernetes/apps/observability/grafana
  components:
    - ../../../components/postgres
  prune: true
  wait: true
  force: true
  interval: 1h
  retryInterval: 2m
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_ACCESSMODES: ReadWriteMany
